*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Gems should not have Gemfile.lock
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Dummy App logs
test/dummy/log/*.log

# Rubymine files
.idea

# Various other files
.rbx
